.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-weight: bold;
  margin: 1px;
  margin-left: auto;
  padding: 10px;
  opacity: 0.75;
}

img {
  margin: auto;
  padding: 0px;
}

input {
  border: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1em;
  margin: 1em;
  padding: 0.5em;
}

.todo-list {
  list-style-type: none;
  padding: 1em;
}

.todo {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  line-height: 1;
  margin-bottom: 1rem;
  padding: .5em;
  text-align: left;
  border-radius: 3px;
}

button:hover {
  opacity: 1;
}