div.App {
  background-color: rgb(229, 241, 247);
  font-family: Arial, Helvetica, sans-serif;
  height: 1000px;
  text-align: center;
}

button.btn-logout {
  height: 75%;
  font-size: 12px;
  margin: 1.5em;
  width: 10%;
}

button.button {
  background-color: rgb(24, 10, 87);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin: 1em;
  margin-left: auto;
  padding: 10px;
  opacity: 0.75;
}

button.button:hover {
  opacity: 1;
}

button {
  background-color: rgb(24, 10, 87);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin: 1em;
  margin-left: auto;
  padding: 10px;
  opacity: 0.75;
}

button:hover {
  opacity: 1;
}

.detail-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

.detail-edit-section {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 5%;
  text-align: left;
  width: 100%;
}

.detail-field {
  border-radius: 2px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  padding: 7% 0 0 25%;
  width: 80%
}

.detail-header {
  border-radius: 2px;
  font-size: 16px;
  font-weight: 800;
  padding: 15px;
}

.detail-label {
  border-radius: 2px;
  float: left;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  width: 20%;
}

/* Format the area to list items from the Items, ListItems, Lists and TaskListContext components */
div.div-list-main {
  background-color: rgb(250, 250, 250);
  align-items: center;
  margin: 3%;
  width: 50%;
}

/* This formats the Item and List detail pages from ItemDetails and ListDetails components */
div.detail-main-div {
  align-items: auto;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-evenly;
  margin: 3%;
  width: 65%;
}

/* This formats the Item and List detail pages from ItemDetails and ListDetails components */
div.detail-display-section {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 5%;
  text-align: left;
  width: 48%;
}

/* Formats the main area below the header on the App component */
div.div-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Formats the navigation links on the SideNav component */
div.div-link {
 padding: .5em;
}

/* Formats the side navigation area on SideNav component */
div.div-nav-title {
  border-right: 2px rgba(21, 21, 21, 0.5) solid;
  height: 800px;
  margin: 0 .5em;
  padding: 2em;
  text-align: left;
}

/* This is used to apply a background image to the header section and used in the Header component. */
div.header {
  border-bottom: 2px rgba(21, 21, 21, 0.5) solid;
  display: flex;
  flex-direction: row;
  height: 30%;
  justify-content: space-around;
}
div.header > h1 > a {
  text-decoration: none;
  text-shadow:1px 1px 2px darkslateblue;
}

/* This formats the new pages from the CreateItem, CreateList & CreateListItem components */
div.new-div {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 2% 0;
  width: 60%;
}

/* This formats the new pages from CreateItem, CreateList & CreateListItem components. */
div.new-page {
  background-color: rgb(250, 250, 250);
  margin: 3%;
  width: 50%;
}

/* Formats the statement when there are no tasks on the MyTasks lists */
div.div-no-tasks {
  margin: 2%;
}

/* Formats the not signed in statement */
div.div-not-signed-in {
  margin: auto;
}

/* This formats the signin area on the home page from the Signin component */
div.div-signin {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 2% 0;
  width: 50%;
}

/* Formats the item on the list and will strikethrough when complete from ListItem component */
div.status-false {
  text-decoration: line-through;
}

/* This format the header of all pages and found in the App component */
h1.header-title {
  margin: 0 auto;
  padding: 5%;
  width: 50%;
  text-decoration-line: none;
}

h2 {
  margin: 0 5%;
}

img {
  margin: 0 auto;
  padding: 0px;
}

input {
  border: 0;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1em;
  margin: 1em;
  padding: 0.5em;
}

/* Formats the button located on the CreateItem, CreateList & CreateListItem components */
input.button {
  background-color: rgb(24, 10, 87);
  color: white;
  font: bold;
  opacity: 0.75;
  width: 30%;
}

input.button:hover {
  opacity: 1;
}

input.input-box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  float: left;
  height: 20px;
  position: relative;
  width: 85%;
}

/* This formats the search text box when hovered and found in component. */
input.input-box:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

label {
  text-align: left;
}

/* Formats the list of tasks on My Tasks screen and Tasks related components */
li.li-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1% 0;
  text-align: left;
  width: 95%;
}

/* Formats the list of items on the MyItems page */
p.item-name {
  padding: 0 1%;
  width: 75%;
}

/* Formats the list of titles on the MyList page */
p.list-title {
  padding: 0 1%;
  width: 75%;
}

/* Formats the tasks on the MyTasks page */
p.task-title {
  padding: 0 1%;
  width: 75%;
}

ul {
  list-style-type: none;
}

ul > li:nth-of-type(odd) {
  background-color: rgba(229, 241, 247);

}

ul > li:nth-of-type(even) {
  background-color: rgba(176, 178, 181, 0.5);
}

/* This formats all the pages to be compatible with a mobile device */
@media screen and (max-width: 600px) {
  div.App {
    height: 850px;
    font-size: 12px;
  }
  button.btn-logout {
    height: 75%;
    font-size: 12px;
    margin: auto;
    float: center;
    width: 20%;
  }
  div.header {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.div-link {
    padding: .35em;
   }
  div.div-list-main {
    background-color: rgb(250, 250, 250);
    align-items: center;
    margin: 5%;
    padding: 1%;
    width: 90%;
  }
  div.div-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  div.div-nav-title {
    border-right: none;
    border-bottom: 2px rgba(21, 21, 21, 0.5) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    width: 100%;
  }
  div.div-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  div.new-page {
    background-color: rgb(250, 250, 250);
    margin: 5%;
    width: 90%;
  }
  div.detail-main-div {
    align-items: auto;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-evenly;
    margin: 3%;
    width: 95%;
  }
  h1.header-title {
    margin: 0 auto;
    padding: 2%;
    text-align: center;
  }
}
